/*Main Style*/
body {
    font-family: "Cute Font", cursive;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 80vw;
  }

  li {
    list-style: none;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
/*Header Style*/
header {
    text-align: center;
  }

/*Navigation Style*/
nav {
    position: sticky;
    background: goldenrod;
    opacity: 0.75;
    top: 20px;
    bottom: 50px;
    border: bisque 20px solid;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }


  nav li {
    margin: 0 40px;
  }
  
  #dropdown {
    display: none;
  }
  
  li:focus #dropdown,
  li:hover #dropdown {
    display: block;
  }

  .flex {
    display: flex;
  }

  .flex--column {
    flex-direction: column;
  }
  
  .justify-space-around {
    justify-content: space-around;
  }

/*Images*/

/*Form*/

/* Footer Style*/

/*Uility Styles*/